<div class="action-bar">
    <div class="row justify-content-space-between flex-wrap">
        <div class="col">
            <h2 class="d-inline">Books</h2>
            <span class="products">(128 items)</span>
        </div>
        <div class="col">
            <select class="form-element" defaultValue="relevance">
                <option value="relevance">Sort by relevance</option>
                <option value="price-asc">Price low to high</option>
                <option value="price-desc">Price high to low</option>
            </select>
        </div>
    </div>
</div>
