.action-bar {
  margin: 10px 17px 10px 16px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.products {
  margin-left: 3px;
  color: rgb(141, 141, 141);
}

.action-bar .form-element {
  margin-top: -2px !important;
  display: block;
  width: 100%;
  max-width: 302px;
  padding: 0.375rem 3rem 0.375rem 0.75rem;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background: #f7f7f7
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTEzLjQxOCA3Ljg1OWEuNjk1LjY5NSAwIDAxLjk3OCAwIC42OC42OCAwIDAxMCAuOTY5bC0zLjkwOCAzLjgzYS42OTcuNjk3IDAgMDEtLjk3OSAwbC0zLjkwOC0zLjgzYS42OC42OCAwIDAxMC0uOTY5LjY5NS42OTUgMCAwMS45NzggMEwxMCAxMWwzLjQxOC0zLjE0MXoiLz48L3N2Zz4=)
    right 10px center no-repeat;
  background-size: 22px;
}

// select {
//   background-image: linear-gradient(45deg, transparent 50%, gray 50%),
//     linear-gradient(135deg, gray 50%, transparent 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position: calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
//   background-size: 5px 5px, 5px 5px, 1px 1.5em;
//   background-repeat: no-repeat;
// }
// select:focus {
//   background-image: linear-gradient(45deg, green 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, green 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size: 5px 5px, 5px 5px, 1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: green;
//   outline: 0;
// }

// Responsive breakpoints
@media (max-width: 374.9px) {
}

@media (min-width: 375.9px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
