.mat-divider {
  color: #cecece;
  border-width: 0.1rem;
  margin: 20px 0;
}

.form-element {
  display: block;
  width: 96.5%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem !important;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 500;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif !important;
}

.add-to-cart-btn {
  background-color: #a03037;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0;
  font-weight: 400;
}

.wishlist-btn {
  background-color: #495057;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0;
  font-weight: 400;
  .icon {
    font-size: 13px;
    height: unset !important;
    width: unset !important;
    padding-top: 2px;
    margin-right: 1px;
  }
}

.submit-feedback-btn {
  background-color: #3371b5;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.85rem;
  font-size: 0.9rem;
  border-radius: 3px;
  font-weight: 400;
}

.image-list {
  width: 50px;
  height: auto;
}

.product-image-wrapper img {
  height: auto;
  width: 200px;
}

.product-details-layout-content {
  min-height: 70vh;
  background: #fff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-details-layout-content .flex-col .action-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
}

.product-details-layout-content
  .flex-col
  .action-button-wrapper
  .add-to-cart-btn,
.wishlist-btn {
  width: 48%;
}

.product-details-container {
  width: 60%;
}

.product-details-layout-content .product-details-divider {
  border-width: 2.5px !important;
}

.product-details-layout-content .product-details-wrapper {
  margin-bottom: 10px;
}

.product-details-layout-content .product-details-wrapper .product-title {
  margin-bottom: 10px !important;
  font-size: 28px !important;
  font-weight: 600;
}

.product-details-layout-content .product-details-wrapper .product-author {
  color: darkgray;
  margin-bottom: 12px !important;
  font-size: 18px !important;
}

.product-rating-wrapper {
  margin-bottom: 15px;
}

.product-rating-wrapper .badge {
  display: inline-block;
  padding: 0.175em 0.45em;
  font-size: 90%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: rgb(1, 153, 1);
  color: white;
}

.product-rating-wrapper .rating-icon {
  font-size: 13px;
  margin-left: 0px;
  line-height: 15px;
  vertical-align: text-top;
  color: #fff;
  display: inline;
}

.product-rating-wrapper .rating-count {
  font-size: 13px;
  font-weight: 400;
  color: rgb(173, 173, 173);
  display: inline;
  margin-left: 3px;
}

.product-price-wrapper {
  margin-bottom: 15px;
}

.product-details-layout-content
  .product-price-wrapper
  .discounted-price::before {
  font-weight: 600;
  margin-right: 1px;
  color: black;
  content: "₹";
}

.product-details-layout-content .product-price-wrapper .discounted-price {
  font-size: 26px;
  font-weight: 600;
  margin-left: 0px;
  color: black;
}

.product-details-layout-content .product-price-wrapper .real-price {
  vertical-align: text-bottom;
  font-weight: 400;
  margin-left: 6px;
  text-decoration: line-through;
  color: darkgrey;
}

.product-details-layout-content .product-price-wrapper .real-price::before {
  content: "₹";
}

.product-details-layout-content .product-details-wrapper {
  margin-bottom: 10px;
}

.product-details-layout-content .product-details-wrapper .product-details {
  padding-left: 20px !important;
}

.product-details-layout-content
  .product-details-wrapper
  .product-details
  .details-title {
  font-size: 16px;
  color: rgb(173, 173, 173);
  margin-bottom: 8px;
}

.product-details-layout-content .product-details-wrapper .product-details p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.product-details-layout-content .customer-feedback-wrapper {
  margin-top: 20px;
}

.product-details-layout-content .customer-feedback-wrapper .feedback-form {
  background: rgb(240, 240, 240);
  padding: 16px;
  margin-bottom: 20px;
}

.product-details-layout-content .customer-feedback-wrapper .feedback-title {
  font-size: 18px;
  font-weight: 600;
}

.product-details-layout-content
  .customer-feedback-wrapper
  .feedback-form
  .ratings-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-details-layout-content
  .customer-feedback-wrapper
  .feedback-form
  .feedback-ratings-wrapper {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-details-layout-content
  .customer-feedback-wrapper
  .feedback-form
  .feedback-text {
  font-size: 16px;
  margin-bottom: 12px;
}

.customer-feedback-wrapper .feedback-form .ant-input {
  border: none !important;
}

.customer-feedback-wrapper .feedback-form .feedback-submit {
  text-align: right;
}

.product-review-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-review-list-wrapper .avatar-wrapper {
  padding: 2px 10px 2px 2px;
}

.product-review-list-wrapper .reviewer-name h5 {
  font-size: 14px;
  margin-bottom: 0px;
}

.product-review-list-wrapper .review-details {
  font-size: 14px;
  margin-bottom: 0px;
}

.product-details-layout-content .product-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-image-list {
  padding: 5px;
  width: 20%;
}

.product-details-layout-content .product-image-wrapper {
  padding: 5px;
  width: 75%;
}
