<!-- Toolbar -->
<div class="toolbar" role="banner">
    <mat-icon  class="header-icon">
        menu_book
    </mat-icon >
    <span class="title">Bookstore</span>
    <div class="search-wrapper">
        <mat-form-field appearance="outline" class="search">
            <input matInput placeholder="Search..">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <div class="actions-wrapper">
        <button class="actions">
            <mat-icon class="material-icons" id="profile-logo">
                person
            </mat-icon>
            Profile
        </button>
        <button class="actions">
            <mat-icon class="material-icons" id="cart-logo">
                shopping_cart
            </mat-icon>
            Cart
        </button>
    </div>
    
</div>